<div class="error">
  <%= error %>
</div>

<form action="/shortened_url" method="post">
  <input type="text" name="url_to_shorten" value = "<%= url_to_shorten%>" placeholder='Enter the URL you would like to "shorten"'>
  <input type="submit" value="Shorten">
</form>