<table>
  <tr>
    <td>Original URL</td>
    <td><%= original_url %></td>
  </tr>
  <tr>
    <td>"Shortened" URL</td>
    <td><%= shortened_url %></td>
  </tr>
  <tr>
    <td>Total visits</td>
    <td><%= total_visits %></td>
  </tr>
</table>

<a href="/">"Shorten" another URL</a>