<table>
  <tr>
    <td>Original URL</td>
    <td><%= original_url %></td>
  </tr>
  <tr>
    <td>"Shortened" URL</td>
    <td><%= shortened_url %></td>
  </tr>
</table>

<p>
  Total visits: <%= total_visits %>
</p>

<a href="/">"Shorten" another URL</a>