body {
    font-family: sans-serif;
    font-size: 18px;
    max-width: 1210px;
    margin: 0px auto;
}

table {
    font-size: inherit;
    width: 100%;
}

td {
    padding: .25em 0;
}

.content {
    width: 50%;
    margin: 0 auto;
    margin-top: 20em;
}

input {
    display: block;
    margin: 1em 0;
    border: 2px solid black;
}

input[type=text] {
    font-size: 18px;
    width: 100%;
    height: 2em;
    padding: 0 .25em;
}

input[type=submit] {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    border: 0;
    background-color: #0077ff;
    color: #ffffff;
    border: 3px solid black;
    padding: .4em .75em;
    margin-left: auto;
    margin-right: auto;

}

.error {
    color: red;
}